debug: true
development: true
domain: 127.0.0.1
secret_key: yoursecretkey
connection: sqlite
connections:
    mysql:
        host:		localhost
        database:	database
        username:	username
        password:	password
    sqlite:
        host:		localhost
        database:	/storage/database.sqlite
        username:	username
        password:	password
jpush:
    app_key:        1d70641588d99d929ffd92b3
    master_secret:  87021dc315cba2ebef9ef5ac